.side-bar {
  background-image: url('./assets/images/desktop-sidebar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  height: 90vh;
  margin: auto 1vw;
}

.step-forms {
  width: 65vw;
  height: 90vh;
  margin: 5vh;
}

.text-white {
  color: white;
}

.border-white {
  border-color: white;
}

.circles {
  width: 50px;
  height: 50px;
  color: white;
}

.circles.active {
  color: black;
  background-color: #c6e8fe;
}

.step-font {
  font-size: 18px;
}

.form-font {
  font-size: 24px;
  color: gray;
}

.label {
  font-size: 22px;
}

input::placeholder {
  color: grey;
  font-size: 24px;
}

.step-head {
  font-size: 24px;
}

.bck-btn {
  border: none;
  outline: none;
  color: gray;
  font-size: 24px;
  background-color: transparent;
}

.nxt-btn {
  background-color: #02295c;
  color: white;
  font-size: 24px;
  width: 160px;
}
