.side-bar {
  background-image: url('./assets/images/desktop-sidebar.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 90vh;
  margin: 5vh 1vw;
}

.step-form {
  width: 80%;
  height: 90vh;
}

.text-white {
  color: white;
}

.border-white {
  border-color: white;
}

.circles {
  width: 50px;
  height: 50px;
  color: white;
}

.step-font {
  font-size: 18px;
}

.step-head {
  font-size: 24px;
}
