@media screen and (min-width: 768px) {
  .form-container {
    display: flex;
  }

  .side-bar {
    background-image: url('./assets/images/desktop-sidebar.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 90vh;
    margin: auto 1vw;
  }
}

.step-forms {
  width: 65vw;
  height: 90vh;
  margin: 5vh;
}

.text-white {
  color: white;
}

.border-white {
  border-color: white;
}

.circles {
  width: 50px;
  height: 50px;
  color: white;
}

.circles.active {
  color: black;
  background-color: #c6e8fe;
}

.step-font {
  font-size: 18px;
}

.form-font {
  font-size: 24px;
  color: gray;
}

.active-term {
  font-size: 24px;
  font-weight: bold;
  color: #032b5f;
}

.label {
  font-size: 22px;
}

input::placeholder {
  color: grey;
  font-size: 24px;
}

.step-head {
  font-size: 24px;
}

.bck-btn {
  border: none;
  outline: none;
  color: gray;
  font-size: 26px;
  background-color: transparent;
}

.bck-btn:hover {
  color: #01295c;
}

.nxt-btn {
  background-color: #02295c;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  width: 160px;
}

.nxt-btn:hover {
  background-color: #938cff;
}

.plans {
  width: 220px;
  height: auto;
  border: 1px solid #c9c9c9;
}

.plan-font {
  font-size: 24px;
  color: #142945;
}

.switch-container {
  position: relative;
}

.toggle-checkbox {
  display: none;
}

.toggler {
  width: 70px;
  height: 30px;
  background-color: #032b5f;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.toggle-circle {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  left: 6px;
  bottom: 1.5px;
  transition: transform 0.2s ease;
}

.toggle-checkbox:checked + .toggler .toggle-circle {
  transform: translateX(30px);
}

.addOn {
  border: 1px solid #c9c9c9;
}

.addOn-checkbox {
  width: 25px;
  height: 25px;
}

.selected-plan,
.picked-addOn {
  border: 1px solid #635e9e;
  background-color: #f8f9fe;
}

.thanks-icon {
  width: 12vw;
  height: 12vh;
}

.change-link:hover {
  color: #052858;
}

@media screen and (max-width: 768px) {
  .side-bar {
    display: flex;
    gap: 2%;
    justify-content: center;
    background-image: url('./assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 20vh;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .sidebar-details {
    display: none;
  }
}
